/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Generics */
body {
  font-family: sans-serif;
}
h2{
  text-align: left;
  font-size: 35px;
}
button{
  padding: 10px;
  border-radius: 30px;
  margin: 0 20px;
  
}


h1{
  font-size: 50px;
  margin: 55px auto;
}
span{
  font-size: 25px;
  margin: 10px ;
}

/* Utils */
a{
  text-decoration: none;
  color: white;
  padding: 0 15px;
}

.al-max-colum{
  flex-basis: 50px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

.debug .border {
  border: 2px dashed black;
}

.bg-blue{
  background-color: lightblue;
}
.bg-white {
  background-color: white;
}

.bg-darkblue{
  background-color: blue;
}
.bg-gray {
  background-color: lightgray;
}

.bg-black{
  background-color: black;
}
.col-white{
  color: white;
}

.col-blue{
  color: blue;
}
header {
  background-color: lightblue;
}

.small-col > h1{
  margin:20px auto;
}

.alt-img{
  height: 100%;
}
/* # Navbar */

.navbar {
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > * {
  padding: 10px;
  flex-basis: 25%;
  /*background-color: goldenrod;*/
}

.navbar-menu {
  flex-grow: 1;
  text-align: center;
  justify-content: space-between;
}

.navbar-actions {
  text-align: right;
}

/* # Jumbotron */

.jumbotron {
  padding: 50px;
  height: 500px;
  background-image: src('../immagini/jumbo.png');
  background-size: cover;
  display: flex;
  justify-content: center;
}

.jumbotron .content {
  width: 100%%;
  text-align: center;
 
  /* height: 100%; */
  /* margin: 0 auto; */
  background-color: violet;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
.bottoni-intro{
  margin: 40px 20px;
}

/* # Main & sections */
section {
  padding: 100px 50px;
  height: 600px;
}

section > .container {
  height: 100%;
}

.flex > .small-col {
  flex-basis: 40%;
  
}

.flex > .large-col {
  flex-basis: 60%;
  background-color: dodgerblue;
}

.flex > .full-col {
  width: 100%;
  background-color:darkgreen;
}


.a-i{
  align-items: center;
}
.full-col{
  text-align: center;
}

.section-xl{
  height: 1000px;
}

.testo-finale{
  font-size: 45px;
  width: 100%;
  margin: 10px 0;
}

.descrizione-finale{
  font-size: 20px;
}
/* # Footer */
footer {
  padding: 50px;
  background-color: #23272a;
  /* color: white; */
}

.footer-top {
  height: 600px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid purple;

  display: flex;
}

.footer-top .footer-left {
  flex-basis: 30%;
  background-color: pink;
}

.footer-top .footer-right {
  flex-basis: 70%;
  background-color: #20b2aa;
}

.footer-nav {
  height: 100%;
  display: flex;
  /* background-color: #fff; */
}

.footer-nav > div {
  flex-basis: 25%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: aquamarine;
}

.footer-bottom > * {
  padding: 5px 10px;
  background-color: yellow;
}


a-i-l{
  align-items: flex-start;
}


.s-folder{
  text-align: left;
  padding: 0;
  margin: 25px;
}




/*sfondi*/

.bg-1{
  background-image: url("immagini/jumbo.png") ;
}

#italia{
  width: 25px;
}